<div class="card mb-4">
  <%= image_tag publication.image, class: "card-img-top mt-5", style: "max-width: 100%; max-height: 300px; object-fit: contain;" %>
  <div class="card-body">
    <h5 class="card-title"> <strong>Título:</strong> <%= publication.title %></h5>
    <p class="card-text"> <strong>Descripción:</strong> <%= publication.description %></p>
  </div>
  <div class="card-footer">
    <small>Usuario: <%= publication.user.email %></small>
  </div>
</div>


