<div class="positionimage">
    <h1 class="titulo"> TE DAMOS UN MAULLIDO DE BIENVENIDA A CRAZY4CATS</h1> <br><br>
    <%= image_tag '2.gif', style: "width: 600px; height: 500px;" %>  <br><br>   
    <h2 class="titulo"> CONSIDERACIONES IMPORTANTES </h2> <br><br>
    <%= image_tag '4.gif', style: "width: 800px; height: 500px;" %> <br><br>
    <ul class="reglas">
        <li> <b>Crazy4Cats </b> es un espacio para los <b>LOCOS POR LOS GATOS COMO TÚ </b>, acá puedes publicar imágenes, comentar, reaccionar a publicaciones, la única condición es <b> RESPETARSE Y SUBIR FOTOS DE MICHIS </b> </li>
        <li> Te invitamos unirte a la manada y abrir tu propia puerta felina con tu inicio de sesión. </li>
        <li> Si te unes a la manada tendrás la posibilidad de hacer tus propias publicaciones y reaccionar a ellas o a las de otros <b> Cats Lovers </b> </li>
        <li> Aunque no es necesario registrarse para ver nuestras Gatadas del día ni para comentar.</li>
        <li> Recuerda mantener el ambiente amigable y respetuoso para todos los miembros de la comunidad. Los comentarios y las publicaciones deben estar relacionados con el mundo gatuno.</li>
        <li> Siempre mantén presente que Crazy4Cats es un espacio para compartir tu amor por los felinos y disfrutar de contenido gatuno. <b> ¡Diviértete y ronronea a tu gusto! </b> </li>
    </ul> <br><br>
</div>

